{% extends "bidding/base.html" %}
{% load static %}

{% block content %}
    <br><br><br>
    <div class="container" style="width:40%;padding:30px;background: white">
    <center><h2>Homepage</h2></center><br>
    {% if prod_list %}
    {% for product in prod_list %}
        <h5>Product Name:{{ product.prod_name }}</h5>
        <h5>Product Description:{{ product.description }}</h5>
        <h5>Product weight:{{ product.weigth }}</h5>
        <a href="{% url 'bidding:bid_list' product.pk %}"><button>Bid</button></a><br><br><br><br><br><br>
    {% endfor %}
    {% endif %}
    </div>



{% endblock %}