{% extends "bidding/base.html" %}
{% load static %}

{% block content %}

     <div class="banner-area">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay" style="background-image:url({% static 'img/blog-img.jpg' %})"></div>
        <!-- /Backgound Image -->

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="white-text title">Pending Orders</h2>
                </div>
            </div>
        </div>
    </div>

    <div id="events" class="section">
        <div class="container">
            <div class="row">
                <!-- section header -->
                <div class="section-header text-center">
                    <h4 class="sub-title">Orders to be delivered</h4>
                    <h2 class="title">Pending Orders</h2>
                </div>
                <!-- /section header -->
                {% if orders %}
                    {% for order in orders %}
                        <div class="col-md-4">
                            <div class="event">
                                <div class="event-content">
                                    <h3>{{ order.customer }}</h3>
                                    <h3>{{ order.product }}</h3>
                                    <h5>Address : {{ order.address }} , {{ order.pincode }}</h5>
                                    <h5>Phone Number : {{ order.phone_num }}</h5>
                                    <h5>Status: {{ order.status }}</h5>
                                    <a href="{% url 'bidding:changestatus' order.pk %}"><button class="button">Change Status</button></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="home-wrapper">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <div class="home-content" style="padding-bottom: 107px">
                                <h4 class="lead">Oops..! Looks like you have no new orders to be delivered.</h4>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}