{% extends "bidding/base.html" %}
{% load static %}

{% block content %}

    <div class="banner-area">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay" style="background-image:url({% static 'img/blog-img.jpg' %})"></div>
        <!-- /Backgound Image -->

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="white-text title">Make your Bid</h2>
                </div>
            </div>
        </div>
    </div>

    <div id="blog" class="section" style="padding-bottom: 190px">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="blog-reply-form">
                          <h3 class="title" style="color:black">Make your Bid</h3>
                          {% if form %}
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <center><div style="padding-top:20px"><input type="submit" class="button" value="Submit"></div></center>
                            </form>
                          {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}