{% extends "bidding/base.html" %}
{% load static %}

{% block content %}
    <br><br><br>
    <div class="container" style="width:40%;padding:30px;background: white">
    <center><h2>Your Bids</h2></center><br>
    {% if bidded_list %}
    {% for bidded in bidded_list %}
        <h5>Name:{{ bidded.name }}</h5>
        <h5>Product:{{ bidded.product }}</h5>
        <h5>Cost:{{ bidded.cost }}</h5>
        <h5>Days:{{ bidded.days }}</h5>
        <h5>Pincode:{{ bidded.pincode }}</h5>
        <a href="{% url 'bidding:edit_bid_list' bidded.product_id    bidded.pincode %}"><button class="btn-primary">Edit</button></a><br>
        <a href="{% url 'bidding:delete_bid_list' bidded.product_id    bidded.pincode %}"><button class="btn-primary">Delete</button></a><br>
        <br><br>
    {% endfor %}
    {% endif %}
    </div>



{% endblock %}